[2018-02-11 06:24] mike-thompson-day8 opened #1 "Naming Problems"
Your choice of name will likely create confusion because `re-frame`  is a well established React framework sometimes compared to Redux, albeit in ClojureScript:   https://github.com/Day8/re-frame

It has previously made it onto the [main stage at React conferences](https://www.youtube.com/watch?v=-jwQ3sGoiXg).  If you Google for "React re-frame"  you'll get a sense of the possible future confusion

[2018-02-13 13:00] brillout commented on #1
I've given this some thoughts.

I'm aware of `re-frame` and so far I found it ok that they have similar names.

They live in different worlds (ClojureScript vs JavaScript) and do quite different things:
 - `re-frame` is doing SPAs with state management.
 - `Reframe` is doing isomorphic React apps.
The point here is that they are not interchangeable: Someone looking for something like `re-frame` is

[2018-02-13 13:00] #1 closed

[2018-02-13 15:04] brillout opened #2 "Further tackle the "framework lock-in fear""
The main reason people are reluctant to use a framework is because of the "framework lock-in fear": Once you create an app with a framework, you are stuck with that framework.

Reframe is different and has been designed to be escapable.

Got some ideas to further improve the escape experience.

[2018-02-22 18:05] brillout opened #3 "Improve CLI (i.e. improve first usage experience)"
As suggested by @tdfranklin the CLI could be improved in order to have a better first time usage experience.

Some ideas:
 - Scaffold apps
   - Scaffold different types of apps
 - Scaffold pages
 - Scaffold other things?
 - Make that plugins can add CLI commands
   - All scaffolding code could live in plugins

[2018-02-22 18:07] brillout commented on #3
The main two relevant files for this ticket should be:
 - https://github.com/brillout/reframe/blob/master/core/cli/cli.js
 - https://github.com/brillout/reframe/blob/master/core/utils/processReframeConfig.js

[2018-02-22 18:24] brillout opened #4 "Kill `.universal.js` suffix"
Until now Reframe treated pages saved as `pages/*.universal.js` as DOM-dynamic and pages saved as `pages/*.html.js` as DOM-static. This is not user friendly. Let's have a `domStatic: true` flag instead. (I'll be renaming `htmlIsStatic: true` to `htmlStatic: true` in the process.)

[2018-02-22 18:28] brillout opened #5 "Shorten Overview"
The readme (i.e. the Overview) is way to big. Probably not a single person read it all.

Let's shorten it and maybe move most of the text into a new document "Reframe Rationale" describing Reframe's raison d'etre.

This would also make the "Quick Start" section more visible, as suggested by @tdfranklin.

[2018-02-23 11:42] brillout opened #7 "Add `init` CLI command"
which would scaffold an initial app

[2018-02-23 12:56] brillout opened #8 "Install deps when scaffolding"
When we scaffold a new app, we should `npm install` so that the dependencies defined in the `package.json` of the scaffolded app are installed. (Such as the `react` dependency).

We could use cross-spawn (https://github.com/moxystudio/node-cross-spawn) to run `npm install`. `create-react-app` uses it as well.

Once we have done that the scaffolding will work 👍

[2018-02-23 21:36] tdfranklin commented on #8
Ok, I have a question about this one... just want to make sure I implement correctly.  So after I require, basically I'll just need to run the following code after creating the file structure:

[code]

So that should create the process and run npm install in the project directory, correct?  Should we also log some output with something like:

[code]

What are your thoughts?

[2018-02-23 23:40] brillout commented on #8
Looks good. I didn't think everything through though. We'll see if it works out.

Good question. I guess the bottom line is: Do we want to display npm's output or do we want to display a custom output? Why would we want to display npm's output? Maybe displaying npm's output only when something went wrong? What do you think?

[2018-02-24 11:35] brillout opened #10 "[cli] Extend scaffolded init app"
Could be nice to have the init app have two pages that link each other.

We could also add CSS and async data fetching.

The init app would then cover the "CSS & Static Assets", "Async Data", and "Links & Page Navigation" sections of the the usage manual.

It would then feel like a real app.

@tdfranklin What do you think?

[2018-02-24 11:35] brillout opened #11 "[cli] Move `pages` and `views` to root?"
Was thinking, do we really need the `app` directory?

@tdfranklin

[2018-02-24 11:37] brillout opened #12 "[cli] Allow plugins to extend CLI"
This would require changes in https://github.com/brillout/reframe/blob/master/core/utils/processReframeConfig.js

This would be super cool though.

@tdfranklin up for it?

[2018-02-24 14:24] brillout opened #13 "[cli] command for production build"
Same than `reframe start` but for production. In other words, the command would `process.env.NODE_ENV = 'production';` and then do the same than start.

@tdfranklin

[2018-02-24 16:08] tdfranklin commented on #10
Yes!  That's exactly where I wanted to get to!  Sort of how when you run `create-react-app myApp` then you cd into the app and start the server, it loads a nice little page on localhost that basically say's `Hello from React` or something like that.  I think we should have a similar setup.  That's what I was trying to go for with the homePage and homeView setup, but don't think it's quite there ye

[2018-02-24 16:23] tdfranklin commented on #11
I'd say it's a matter of personal preference.  I guess my thought process was that the "app" folder would hold basically any front-end code for you app, and then if you wanted back-end code (like to connect to a database or something) you might want to add a server or model folder or something like that.  If you want to dump the "app" folder for now, though, just let me know and I can make that ch

[2018-02-24 16:25] tdfranklin commented on #12
Happy to take a stab at it!  Might need you to point me in the right direction of what you're looking for, if you don't mind?

[2018-02-24 16:31] tdfranklin commented on #13
Ok, would you prefer to have an entirely different command for this or just have a flag for `reframe start`?

For instance, would you rather it look like this:
`reframe start` = start server on dev
`reframe start -p` = start server on prod

Or an entirely separate command:
`reframe start` = start server on dev
`reframe prod` = start server on prod (or whatever command you think would be best)

In

[2018-02-24 16:52] brillout commented on #13
Ok let's do it that way then

[2018-02-24 16:59] brillout commented on #11
My thinking: Because Reframe is a full-stack framework, the distinction between front-end and back-end code is less relevant: The page configs are used both in the browser and on the server.

From my perspective a project folder structure like the following feels cozy:
 - pages
   - landing.js
   - about.js
 - views
   - landing
   - about
   - header
   - footer
 - server.js
 - models
 - auth

[2018-02-24 17:07] brillout commented on #5
Done

[2018-02-24 17:07] #5 closed

[2018-02-24 17:07] #7 closed

[2018-02-24 17:07] #8 closed

[2018-02-24 17:23] brillout commented on #12
A plugin can currently do something like that:

[code]

We could extend a plugin to be able to do

[code]

For that

### 1.

 `processReframeConfig` needs to be changed.

See comments in the https://github.com/brillout/reframe/blob/master/core/utils/processReframeConfig.js file

### 2.

The reframe config needs to be loaded and `processReframeConfig` needs to be called before the whole commander t

[2018-02-24 17:48] tdfranklin commented on #11
Oh, ok!  I certainly like that structure!  Let's discuss what you want each of those files to look like and I'll get the changes made!

[2018-02-26 12:47] brillout commented on #11
I'd say let's keep this ticket only about moving `pages` and `views` to the root, i.e. removing the app directory.

And let's use https://github.com/brillout/reframe/issues/10 for further discussions.

[2018-02-26 12:53] brillout opened #15 "[cli] add --log option for `reframe start`..."
...which would be passed down to `createHapiServer`.

(When `createHapiServer` is passed the argument `log: true` it prints build and page information.)
(`createHapiServer` is called in the `cli.js` file.)

[2018-02-26 12:53] brillout commented on #15
@tdfranklin if you are up for it:)

[2018-02-26 20:06] tdfranklin commented on #11
Ok PR submitted.

[2018-02-26 20:22] tdfranklin commented on #15
Ok, there ya go!  See if that PR is what you're looking for and let me know if you want any changes.

[2018-02-26 21:40] brillout commented on #11
Done

[2018-02-26 21:40] #11 closed

[2018-02-27 12:06] brillout commented on #15
Done

[2018-02-27 12:06] #15 closed

[2018-02-27 12:07] brillout commented on #13
Done

[2018-02-27 12:07] #13 closed

[2018-02-27 22:28] brillout opened #18 "[cli] Hello World CLI plugin"
For the sake of experimenting solutions for https://github.com/brillout/reframe/issues/12 we could create a plugin that simply adds a `reframe hello` command that, when run, prints `hello from a Reframe plugin`.

[2018-02-27 22:30] brillout commented on #12
@tdfranklin

What could also help is to look at current plugins such as https://github.com/brillout/reframe/blob/master/plugins/postcss/index.js

[2018-03-01 11:29] brillout commented on #12
@tdfranklin

You're right, after

[code]
we need to process the reframe config:

[code]
At that point, everything we do in `processReframeConfig` will be availble to `cli.js`

[2018-03-27 18:27] brillout commented on #18
Done
Good job @tdfranklin

[2018-03-27 18:27] #18 closed

[2018-03-27 18:27] brillout commented on #12
Done
Good job @tdfranklin

[2018-03-27 18:27] #12 closed

[2018-03-27 18:28] brillout commented on #10
Done
Good job @tdfranklin

[2018-03-27 18:28] #10 closed

[2018-03-27 18:28] brillout commented on #4
Done

[2018-03-27 18:28] #4 closed

[2018-03-27 18:28] brillout commented on #3
Done
Good job @tdfranklin

[2018-03-27 18:28] #3 closed

[2018-03-27 18:29] brillout commented on #2
The main idea is to implement "progressive eject". Working on it atm

[2018-03-27 18:32] brillout opened #21 "[cli] show help when running `reframe`"
Basically doing `reframe` would be the same than doing `reframe -h`.
@tdfranklin Not sure if that's possible with `commander`?

[2018-03-27 18:37] brillout commented on #21
@tdfranklin If it's not easily possible then let's just drop this. It's clearly not high-prio

[2018-03-27 18:37] tdfranklin commented on #21
Hrm... I don't believe this is possible with commander, but I will investigate and get back to you.

[2018-03-27 23:09] tdfranklin commented on #21
I stand corrected - PR submitted.

[2018-03-30 15:39] brillout opened #23 "Move init code to a new plugin `@reframe/init`"
I've made that plugins can be dynamically added;

[code]

Note that `getProjectConfig` should now be used instead of `processReframeConfig`.
And `projectConfig` is the pendant of `reframeConfig._processed`.
E.g. `projectConfig.cli_commands` will include all cli commands added by plugins.

`addPlugin` usage example:
https://github.com/reframejs/reframe/blob/master/helpers/cli/cli.js#L23-L25

We cou

[2018-03-30 15:39] brillout commented on #21
done

[2018-03-30 15:39] #21 closed

[2018-04-02 21:45] brillout commented on #23
We can make that the CLI loads the plugin. That way, the plugin is always included with the CLI. Similar to how `startCommands` is always included with the CLI

[2018-04-03 19:29] tdfranklin commented on #23
I'll ask on here as well as Discord.  So, are you wanting this to be it's own package under the plugin directory (like cli-plugins, default-kit, react-router, etc) or are you wanting this to just be another file under reframe/helpers/cli that looks like startCommands() only passes all the init/scaffolding info?

[2018-04-06 12:00] brillout opened #25 "`reframe init` MVP"
Alright I think we nailed down the overall cli architecture, thanks @tdfranklin for the numerous CLI discussions 👍

Let's publish a stable version (the latest npm versions I published are all tagged beta) soon that includes `reframe init`.

How do we want our first stable `reframe init` to look like?

Couple of thoughts:
 - Flesh out the templates to include some other use cases
   - E.g. a page t

[2018-04-10 19:34] #23 closed

[2018-04-10 20:01] tdfranklin commented on #25
Sorry I haven't responded yet; I've been insanely busy lately.  We're trying to get our house ready to put on the market for sale so just been consumed with painting, cleaning, etc so haven't had a lot of time for code.

In any case, I'm so glad we're getting close to a release.  Here's a few thoughts I have to get ready for that.

1. Remove the hello/goodbye test plugins (or at least comment them

[2018-04-10 20:02] tdfranklin commented on #25
@brillout
Just a small note - thank you again for letting me be a part of Reframe - I'm really excited to see where we can take it!

[2018-04-16 17:49] brillout commented on #25
I'd do this in the future. Redux and Reframe are independant. Adding Redux to the scaffolding would be simply to help beginners. But we are not at the point to be able to help beginners (yet).

Not for now. In the future `reframe deploy`.

Yes

As for the questions: Maybe we could not ask any questions and not use inquirer for the MVP. I'll think about it. I'm thinking about (passively) ask about

[2018-04-19 15:26] brillout commented on #25
Also thinking: If someone forgot the project's name in `reframe init my-app` then maybe we could use inquirer to ask the user the name of the project. Isn't that high-prio I guess though :p

[2018-04-19 20:55] tdfranklin commented on #25
Sounds good to me!

reframe init --interactive / reframe init -i. Could be nice to ask users that know what they are doing if they want to create a "modern interactive app" or an "old school 1998 static app".

Yes!  We can absolutely do something like that and I think that's a great idea!  That way we can get the best of both worlds.

Hrm... initially I was concerned with this for two reasons:

1.

[2018-04-20 11:40] brillout commented on #25
Sounds good!

As for git, we could easily check if the project is already checked into git. See `@reframe/helpers/utils/git.js`.

And regarding the project name I was thinking in the case the user runs `reframe init` instead of `reframe init myapp`. (That's what I meant with "forgot".) But that's really not important.

So let's get rid of inquirer for now. We could save the inquirer code into a br

[2018-04-20 17:45] tdfranklin commented on #25
Oh sorry about that - that makes sense!  Yea, you could do that, but I think it's probably just better to return a message advising the user to include a project name (which I think is how it currently works).  If you want to change that up at any point, though, just let me know and we can certainly fix that!

You said you don't have much time. I can do it. As you want, let me know!

That sounds l

[2018-04-24 19:27] brillout commented on #25
Sure, did some changes and going to publish all that to a stable version soon 😍

I guess we can close that ticket

[2018-04-24 19:27] #25 closed

[2018-05-04 18:03] gHashTag opened #28 "Support:SSR"
At first glance interested in your project and most of all I'm worried about the question of creating a universal application. I tried to build my webpack config, but it's a very long story. And many searches have brought you.
How to configure routing so that after `reframe build` and `reframe server` it does not show an error 404?
![ssr mov](https://user-images.githubusercontent.com/6774813/39643

[2018-05-05 09:43] gHashTag commented on #28
It's very likely that your object is what I've been looking for so long =)
Before I start migrating with CRA, could give recommendations on your comment

I did not quite understand what I was doing wrong.
[Source code here](https://github.com/gHashTag/reframe)

[2018-05-05 10:03] gHashTag opened #29 "React-Native-Web"
I tried to connect the library  [**react-native-web**](https://github.com/necolas/react-native-web#installation) to the project, but found this error in response.

```Module not found: Error: Can't resolve 'react-native' in '...reframe/views/Masters'```

If such an opportunity?

[2018-05-05 10:56] gHashTag opened #30 "restart dev server"
In the event of an error, you must restart the server each time.
[code]
It's just me and this is normal behavior? It would be cool something like nodemon.

[2018-05-05 11:03] gHashTag opened #31 "window.innerWidth or window.innerHeight"
What to use to determine the height and width of the browser screen?
In the case of
`const w = window.innerWidth`
this error appears
`ReferenceError: window is not defined`
How do I get to the window object?

[2018-05-05 11:25] gHashTag opened #32 "Main border"
I'm implementing a menu from the library react-burger-menu, аnd when the menu is activated, a 8-pixel border is displayed.

![border mov](https://user-images.githubusercontent.com/6774813/39662798-15174b9c-5070-11e8-92b6-6a908b69dd6b.gif)

In the CRA, I did not have it. How can I remove it?

[2018-05-05 12:47] brillout commented on #31
That's because of SSR: Your views are run both in the browser and on Node.js.

Just do `if( typeof window !== "undefined ) { const w = window.innerWidth; /* etc. */ }` to check whether your view is being run on Node.js or in the browser.

Does that make sense?

[2018-05-05 12:49] brillout commented on #32
That's because by default the browser sets some margin to the body. If I remember correctly adding the CSS `body {margin: 0px}` should do the trick. Let me know if it works.

[2018-05-05 12:50] brillout commented on #30
That shouldn't be the case.

Feel free to point me to a repo and a specific commit and how you get to that situation. I'll then look into it.

[2018-05-05 13:04] brillout commented on #28
Just looked at your last commit (https://github.com/gHashTag/reframe/commit/b123d62d99c17eb9b7db69ac50abb343acd13046)

You changed the route, SSR should be working for you now.

As for my question: What you are doing is totally fine. It's just that what you are doing is in essence an SPA: You have exactly *one* page config hence your entire app will be bundled into that *one* page.

Alternatively

[2018-05-05 13:06] gHashTag commented on #32
yes! working!!!

[2018-05-05 13:06] #32 closed

[2018-05-05 13:10] gHashTag commented on #30
[Source code](https://github.com/gHashTag/reframe)

[2018-05-05 13:11] brillout commented on #29
Sounds like it's not installed? Is it present under your `node_modules/` directory?

Yes you can use `react-native-web` with Reframe. If it's something you'd be up to we could create a `@reframe/react-native-web` plugin together. Using `react-native-web` would then simply be a matter of using the plugin.

Let me know when you want to use `react-native-web` with Reframe and I'll let you know how to

[2018-05-05 13:16] gHashTag commented on #31
I actively develop mobile applications on the react native and I would not like to write two codes, one for mobile platforms and the other for web. [Сomponent Dimention solves this problem.](http://necolas.github.io/react-native-web/storybook/?selectedKind=APIs&selectedStory=Dimensions&full=0&addons=0&stories=1&panelRight=0)

[2018-05-05 13:18] brillout commented on #30
Just tried your latest commit and added an error and fixed it. Worked as expected: The error was shown in the console and when fixed the app was re-built and the browser automatically reloaded. The server didn't crash and I hadn't to restart it.

What's your error that causes the server to crash?

[2018-05-05 13:19] gHashTag commented on #29
I'm ready, but I do not know if I'll get it =)

[2018-05-05 13:33] brillout commented on #30
Ok got one that crashes the server `ReferenceError: window is not defined`. I know why it does it. I'll think about a fix. So yes for now for these type of errors you'll need to restart the server. I'll let you know when I implemented a fix.

[2018-05-05 13:50] brillout commented on #31
The thing is that the Node.js server cannot know the size of the browser. The server simply doesn't have that information.

But you can do that
[code]

In other words:
 - When the view is rendered to the DOM in the browser the platform function is run as normal
 - When the view is rendered to HTML on the server then the platform function returns `x * 3.9`

[2018-05-05 14:09] brillout commented on #29
We'll be fine, you'll see ;-)

But if you don't have time I'll just write the plugin myself. Entirely up to you =)

[2018-05-05 14:15] brillout commented on #2
- progessive eject implemented

Next Idea to further decrease the lock-in fear:
 - Publish/popularize `webpack-ssr` wich is a do-one-thing-do-it-well library I wrote that helps implement SSR. It is entirely independent of both Reframe and React.

Goal here is to make people understand that Reframe is just a tiny ejectable wrapper on top of rock-solid do-one-thing-do-it-well libraries.

[2018-05-05 14:25] gHashTag commented on #31
Awesome!!!

[2018-05-05 14:25] #31 closed

[2018-05-05 14:28] gHashTag commented on #29
This library helps me write less code for the web and mobile =)
Especially to be engaged in Animation with one powerful tool.
I'll wait with impatience!

[2018-05-15 10:56] brillout commented on #30
This is fixed.

There still some edge cases left where the server needs to be manually restarted. But closing for now.

[2018-05-15 10:56] #30 closed

[2018-05-15 10:57] brillout commented on #29
Implemented

[2018-05-15 10:57] #29 closed

[2018-05-17 08:07] yuxal opened #33 "Crash when not using ecmascript6"
Tried to run with an older version of node, crashed on unexpected syntax on ecma6 features.

Need to use babel

[2018-05-17 14:48] brillout commented on #33
Because of the eject commands I'd rather keep the code written with ES6.

Added code https://github.com/reframejs/reframe/commit/a20a98bd28e73fa338dd191cc833a1e2e2b0512e that tells the user to update her Node when she uses an unsupported Node version.

Let me know if you can't update your Node installation or if you have a reason not to.

[2018-05-17 15:15] yuxal commented on #33
Already did, just thought it'd be nice to have.

[2018-05-17 15:15] #33 closed

[2018-09-11 05:07] hkjels opened #37 "Rename the framework"
There's already a web-framework called `Re-frame`, you should rebrand before marketing your framework any further.

[2018-09-11 11:46] brillout commented on #37
To me it's ok to have two projects with similar names.

We already talked about it here https://github.com/reframejs/reframe/issues/1.

Feel free to object to my opinion.

[2018-09-11 11:46] #37 closed

[2018-09-12 12:39] mike-thompson-day8 commented on #37
Oh sure, nothing to worry about at all, assuming you don't care at all about the confusion you might cause others.

[2018-09-12 15:45] AurelienLourot opened #38 "Deploying with Up"
I'd like to extend Reframe so that the user only needs to follow these steps:

1. (outside of Reframe) In the AWS web console, create a user and an access key. Attach the `IAMFullAccess` policy to the user. (Can be skipped by people already using AWS)

2. `reframe aws configure <access-key-id> <secret-access-key> <region>` creates `~/.aws/config` and `~/.aws/credentials`. (Can be skipped by people

[2018-09-12 16:27] hkjels commented on #37
The choice of name is not an issue; it's actually two issues, as you yourself point out. And that's of a grand total of 22 closed issues 🤔. I believe you should give this some more thought

[2018-09-16 16:26] brillout commented on #38
Love it so much ❤️
Would be so cool. But I guess you'd rather work for ghuser atm:)

[2018-12-10 16:32] brillout opened #41 "Eject as a library"
Currently, the eject feature is implemented as a Reframe plugin.

It'd nice to have the eject functionality as a do-one-thing-do-it-well library that works independently of Reframe.

The vision here is to make Reframe be only a tiny wrapper on top of do-one-thing-do-it-well libraries.

[2018-12-12 14:34] brillout opened #42 "Automatic Deploy"
Static sites created with Reframe can already be automatically deployed to Netlify or GitHub Pages.

For Node.js and databases we could:
 - Ship the database and Node.js server with a docker container
 - Use GitHub actions and GitLab's `.gitlab-ci.yml` to execute docker
 - Use docker only for deployment (so that the developer's machine doesn't need a docker installation)
 - Heroku free tier

Allow

[2018-12-20 12:32] brillout opened #43 "Write tutorial"
A step-by-step guide to create a full stack app.

Stuff like `renderHtmlAtBuildTime`, `doNoRenderInBrowser`, and Wildcard API could be explained along the way.

Design recommendations such as why you shouldn't (by default) use Redux or GraphQL could be explained along the way as well. (Redux and GraphQL are great tools but they should be used only if you know what you're doing.)

[2018-12-24 00:44] aleclarson opened #44 "Convert to TypeScript"
Hello! What are your feelings on this?

[2018-12-24 07:57] brillout commented on #44
Hi!

Yes it would make a lot of sense for TypeScript users to eject TypeScript code.

On the other hand it would force non-TypeScript users to use and learn TypeScript for ejected code.

Right now it's not clear to me whether to convert or not. I'd rather gather further users and insights before taking that decision.

[2018-12-24 13:47] aleclarson opened #45 "Significance of $ in Reframe config properties"
What's the reasoning behind starting certain properties with `$` (like `$name` or `$plugins`) in the Reframe config?

[2018-12-24 15:30] brillout commented on #45
These are special properties for `@brillout/reconfig`

`@brillout/reconfig` is the library Reframe uses to do configuration and dependency injection.

`$name` is the name of the plugin (useful for debugging).

`$plugins` is the list of "sub-configs" that `@brillout/reconfig` recursively applies. It's basically dependency injection: E.g. by changing `@reframe/react` to `@reframe/vue` you change `co

[2019-01-14 08:04] iwansyahp opened #46 "Is Reframe related to Re-frame"
I knew Re-Frame (A Reagent Framework For Writing SPAs, in Clojurescript) earlier, which you can access at https://github.com/Day8/re-frame.

Is these repositories related to each other?

[2019-02-28 14:15] alishahlakhani opened #47 "CSS modules support?"
Are there any plans to support CSS modules support to the library. I connected my codebase to your library but the problem is that all the .module.scss files are now not working. I believe this is because 'react-scripts' complies CSS modules but your lib does not. Is that a possible goal for future?

[2019-03-03 17:47] brillout commented on #47
Yes it is. I can implement a plugin for it the next couple of days. We can also implement it together if that's a thing that would interest you.

I'm curious, why SCSS and not PostCSS?

[2019-03-14 15:39] alishahlakhani commented on #47
To be honest, I've never worked with PostCSS or with this low level codes.
I would love to learn, if you can guide. 👍

[2019-03-22 19:43] brillout commented on #47
The document is good https://postcss.org

You can then use the PostCSS plugin https://github.com/reframejs/reframe/tree/master/plugins/postcss

[2019-03-22 19:43] #47 closed

[2019-04-15 18:14] aleclarson opened #48 "[cli] global config -- "always use yarn""
This is a feature proposal. (unless this already exists?)

Something like `.npmrc` for Reframe.

Then an option like `npm: "yarn"` in there.

Sorry if this is a duplicate.

[2019-04-15 18:45] aleclarson opened #50 "deploy-git: Couldn't find remote ref master"
[code]
After using https://github.com/new to create a repository:
[code]

The `deploy` command logged out:
[code]

## `reframe version`
[code]

[2019-04-15 20:27] aleclarson opened #52 ""build" and "dev" commands crash with "yarn link" dependency"
Repro: https://github.com/aleclarson/repro/tree/reframe-1

When `yarn link` is used, both `reframe build` and `reframe dev` crash with the following error:
[code]

More details in the repro

[2019-04-17 18:59] brillout commented on #50
That's because the repo `github.com:foo/bar` doesn't exist.

You can set your `reframe.config.js` to, for example:
[code]

It will then push the bundles to that branch `reframe-dist`. If I remember correctly, GitHub pages can also deploy non-master branches.

[2019-04-17 19:00] brillout commented on #48
Reframe only installs packages when doing `reframe create react-frontend`. When doing so Reframe doesn't add any `package-lock.json` nor `yarn.lock`; it doesn't assume whether you use yarn or npm.

Once you've scaffolded your app, Reframe doesn't install packages anymore.

In a nutshell: Reframe is npm/yarn agnostic and can be used with both.

[2019-04-17 20:37] brillout commented on #52
That's because somehow webpack doesn't write the bundle to the disk. Not sure why, I'll dig deeper later.

Thanks a lot. Opening issues for bugs are immensely valuable, thanks!

[2019-04-20 18:13] brillout commented on #52
@aleclarson The problem is that react-spring's `main` field of `package.json` points to `web.cjs.js` instead of `dist/web.cjs.js`.

I improved Reframe's error reporting and I will publish a new version today/tomorrow.

[2019-04-20 18:16] aleclarson commented on #52
Ah, that makes sense. Thanks!

[2019-04-20 18:16] #52 closed

[2019-04-21 21:20] brillout commented on #52
Better error reporting published in `v0.3.2`.

[2019-04-21 21:21] brillout commented on #48
Does that make sense?

[2019-04-21 21:21] brillout commented on #50
Any luck with this?

[2019-04-21 21:38] aleclarson commented on #48
Yeah thanks. I don't remember what made me think this was necessary. Something in the docs may have mislead me (not sure).

[2019-04-21 21:38] #48 closed

[2019-04-21 21:55] brillout commented on #48
Ok. Let me know when the docs are not clear and I'll improve them.

[2019-04-30 17:05] freeman opened #53 "Custom / Private starters"
It seems currently the only starters supported are in-tree (in the `create` plugin).

Am I correct ? If so is supporting private starters (as an npm package for example) be something this project would like to cover ?

Reframe looks great by the way :)

[2019-05-01 11:44] brillout commented on #53
yes

This would be out of scope for Reframe.

That said Reframe is built on top of do-one-thing-do-it-well libraries I wrote / the community wrote. You can create any boilerplate you want on top of these DOTDITW libraries. These libraries are all super flexible so you can build any kind of boilerplate you want.

What should your boilerplate be able to do? We can design your boikerplate together if

[2019-05-02 08:46] freeman commented on #53
The private starters would be mainly to include private packages we use in my org, so they would not benefit the community. I'd like also to enable typescript support by default.

So I guess my main option is to create a private fork of `create` and `cli` ?

[2019-05-07 07:45] brillout commented on #53
The easiest would be:
 1. Scaffold an app with `$ reframe create react-app` / `$ reframe create react-frontend` / `$ reframe create react-sql`.
2. Add your private packages and the Reframe typescript plugin to the app.
3. Published the modified app to a private repo `git@github.com:your-private-org/reframe-boilerplate`.
4. New projects would start off this boilerplate.

[2019-07-26 19:08] bgmort opened #57 "`No pages found` error using react-frontend starter"
Reframe looks really awesome in the docs, and I'm really interested in trying it out.  However, I don't get very far before I get stuck.  Following the quick start instructions with yarn or npm, when I try to run `reframe dev` (or `npm run dev`, or `yarn dev`), I run into this error:

[code]
Here's the full output:
[code]

`reframe build` produces the same error.

The files are there:

[code]

I'm

[2019-07-27 12:59] brillout commented on #57
I'll have a look today or tomorrow

[2019-07-27 15:54] brillout commented on #57
I couldn't reproduce this.

When I run the following, I don't get your error and everything seem to be fine.
 - I do a fresh install of `@reframe/cli`
 - I run `reframe create react-frontend`
 - I run `cd my-react-frontend && reframe dev`

Feel free to share your code with and I'll have a look at it.

I don't suspect the node version to be the cause here, but anyways:
[code]

[2019-07-27 15:55] brillout commented on #57
Are you on windows?

[2019-07-30 21:23] brillout commented on #57
@bgmort In what stack are you interested in? I'm currently writing starters for the new version of Reframe &mdash; cehck out the new readme: https://github.com/reframejs/reframe.

If you are merely interested in SSR then have a look at ssr-coin: https://github.com/reframejs/ssr-coin.

[2019-07-30 21:25] brillout commented on #45
`@brillout/reconfig` is now a trivial one line of code :-).

[code]

Turns out that a single global JS object is a great idea as a backbone for DI, a plugin system, and config.

[2019-07-30 21:25] #45 closed

[2019-07-30 21:26] brillout commented on #41
Reframe currently doesn't use eject anymore. Will re-open if I re-introduce eject.

[2019-07-30 21:26] #41 closed

[2019-07-30 21:27] brillout commented on #2
With Reframe's new zero-LOC approach, I consider this problem now fully solved.

[2019-07-30 21:27] #2 closed

[2019-07-30 21:31] brillout commented on #53
Now that Reframe is merely a collection of libraries and starters, creating a starter is now only a matter of creating a boilerplate that uses [ssr-coin](https://github.com/reframejs/ssr-coin) and [Wildcard](https://github.com/reframejs/wildcard-api).

Reframe starters are now simply git repos and using a Reframe starter is only a matter of doing `git clone`.

[2019-07-30 21:31] #53 closed

[2019-07-30 21:34] brillout commented on #44
Hello @aleclarson !

It's now super easy to create a starter.

Reframe is now merely a collection of libraries and starters, creating a starter is now only a matter of creating a boilerplate that uses [ssr-coin](https://github.com/reframejs/ssr-coin) and [Wildcard](https://github.com/reframejs/wildcard-api).

Reframe starters are simply git repos and using a Reframe starter is only a matter of doi

[2019-07-31 01:18] bgmort commented on #57
I'm on OSX.  I tried again today, this time running node 12, and it worked fine.  I also reinstalled @reframe/cli first.  Perhaps I shouldn't have, as I changed two variables and it worked.  But going back to node 10, and recreating the starter project, it still works fine now.  I guess we could just chalk it up to something strange about my environment unless you hear more from other people about

[2019-07-31 01:22] bgmort commented on #57
I hadn't refreshed the page before I commented, and so I hadn't seen your latest comment yet. I'm interested in a statically hosted stack, both rendering to react to static html for non-interactive pages, and with client-side react for interactive ones.

[2019-07-31 08:33] brillout commented on #57
You can absolutely do that with ssr-coin. And it's actually the only SSR tool I'm aware of capable of that. I'm currently writing a `reframe-static-website` starter, I'll show it to you today / tomorrow.

[2019-07-31 16:58] brillout commented on #57
@bgmort https://github.com/reframejs/reframe-static-website

I'll improve the example static website of the starter in the coming days to include code that showcases how to implement a page header, import css, async data at build-time, etc. But the `ssr-coin` API is settled for now; you can use the starter today.

[2019-08-06 14:54] brillout commented on #57
Closing -- let me know if you run into any problems with the reframe-static-website starter.

[2019-08-06 14:54] #57 closed

[2019-08-06 14:57] brillout commented on #38
Closing because I'm leaning more towards auto deploy to a stateful server, such as AWS EC2. I don't expect to support auto deploy to serverless anytime soon. I'll be updating Reframe's auto deploy plans at https://github.com/reframejs/reframe/issues/42.

@AurelienLourot Thanks a lot for your contribution back then

[2019-08-06 14:57] #38 closed

[2019-08-06 15:00] brillout commented on #50
Reframe is now a collection of libraries and starters. I didn't re-implement auto-deploy for static websites for the new Reframe version because it's not a top priority anymore.

[2019-08-06 15:00] #50 closed

[2019-09-17 22:28] dannyfreeman opened #58 "Consider changing the name of this framework"
I was telling a friend about the clojurescript framework, re-frame. After our conversation he went to do some research on re-frame and got thrown for a loop when he found this repository. You should really consider changing the name to help avoid confusion with the original re-frame framework. In addition to that, there is an implementation of the clojurescript framework done in javascript called

[2019-09-18 14:53] brillout commented on #58
Interesting use case and I'd be curious to know exactly what was going on in his head?

If the same name confused him for 30 seconds, that's not cool for sure, but it's not *that* bad.

So far, this whole topic of "re-frame" and "reframe" having the same name seemed a bit too nitpicky from my perspective.

[2019-09-18 14:53] #58 closed

[2019-09-18 14:53] #44 closed

[2019-11-25 12:51] brillout commented on #43
Reducing prio of this hence closing.

[2019-11-25 12:51] #43 closed

[2019-11-25 12:53] brillout commented on #42
A simple way to do this that would work for 80% of projects:
- Single VM
- AWS/GCE
- Nix & NixOps

[2020-12-24 15:47] brillout commented on #42
Implemented a prototype that automatically deploys a full-stack app (including database, auto backup, letsencrypt, etc.). The tool uses but fully abstracts(!) Nix.

[2020-12-24 16:09] brillout commented on #44
I'm adding TypeScript everywhere.
 - https://github.com/reframejs/wildcard-api already uses TypeScript.
 - https://github.com/reframejs/goldpage/issues/24 will be rewritten in TypeScript

[2021-01-28 09:32] brillout commented on #37
@mike-thompson-day8 @hkjels

I'm thinking of renaming the project but it's quite painful to me since the name "Reframe" fits *perfectly* the vision of what I'm trying to achieve.

As @dannyfreeman pointed out:

I see this to be a *concrete problem*. So maybe a solution would be to add a link to re-frame on Reframe's readme. That would solve this *concrete situation*.

What do you think?

[2021-02-05 17:18] brillout commented on #37
@mike-thompson-day8 @hkjels @dannyfreeman Thoughts on this? If you absolutely persist then I will rename the project.

But I would find it best if we can have a conversation about concrete implications of two frameworks having the same name while living in different ecosystems. This would definitely help me: having a rationale would make it less painful for me to rename.

[2021-02-05 22:42] dannyfreeman commented on #37
I still think a rename would still be a good idea, but understand the hesitation (finding a good name is really hard). At the very least linking to the clojurescript re-frame project (https://day8.github.io/re-frame/) in the readme might help alleviate the confusion when people stumble upon this when looking for the other.

[2021-02-08 12:28] brillout commented on #37
@dannyfreeman Thanks you for your answer.

I'm thinking of new name, but it's not easy

Yes I know, it would be great have a "official" discussion @mike-thompson-day8 @superstructor @danielcompton

It would help me to have discussion about *concrete* implications

In the meantime I added this note on the top of the readme:

[2021-03-04 12:29] brillout commented on #37
@mike-thompson-day8 @superstructor @danielcompton any luck? It'd be great to have this conversation so we can resolve this dispute and bury the hatchet. The longer we delay the conversation, the more will it be painful for me to rename Reframe to something else.

[2021-03-04 21:59] superstructor commented on #37
@brillout This is the first and last time I'll engage on this issue.

There is no hatchet, there is just you repeatedly asking for approval for a bad idea. That approval will not come. You should have solved this in February 2018 by renaming the project. The only person who has delayed this is you. There have been so many issues raised by different people, #1, #58, #46... how can you not see this

[2021-03-04 22:56] mike-thompson-day8 commented on #37
@brillout
Thank you for putting the redirect note at the top of your README.  That will help people.

But as @superstructor has firmly pointed out, this is a problem you created, despite multiple people clearly warning you it would cause pain. Please don't continue to ping us trying to engage us in a discussion to resolve a problem you stubbornly created, and only you can solve.  The ability to fi

[2021-03-06 07:34] brillout commented on #37
I can see Google search result conflicts to be a considerable drawback for both re-frame and Reframe users. I decided to rename the project.